<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-text class="u-flex ion-text-center ion-padding">
    Please insert your email address. Password reset instructions will be sent to that address.
  </ion-text>
  <form [formGroup]="form">
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email" autocomplete='off' autocorrect='off' autocapitalize='off'>
        </ion-input>
      </ion-item>
      <ion-label *ngIf="form.controls['email'].errors && form.controls['email'].dirty" color="danger">
        Invalid e-mail</ion-label>
    </ion-list>
  </form>

  <div class="u-flex ion-align-items-center ion-justify-content-center">
    <ion-button color="primary" *ngIf="!success" [disabled]="form.invalid" (click)="confirmReset()">Send Reset Email
    </ion-button>
  </div>

  <div class="u-flex ion-text-center ion-padding">
    <ion-text *ngIf="error">
      {{error}}
    </ion-text>
    <ion-grid *ngIf="success">
      <ion-row>
        <ion-text>E-mail sent correctly to {{form.value.email}}. Please check your inbox (SPAM folder too).</ion-text>
      </ion-row>
      <ion-row class="u-flex ion-justify-content-center ion-padding">
        <ion-button color="primary" fill="outline" (click)="backToLogin()">Back to Login</ion-button>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>