<ng-container *ngIf="currentGame">
  <div *ngIf="!winnerTeam">
    <div class="u-flex-center mb-20 mt-20">
      <app-player [player]="teamMate"></app-player>
    </div>
    <div class="u-flex-around">
      <app-player [player]="leftPlayer"></app-player>
      <app-table [left]="leftPlayer.card" [right]="rightPlayer.card" [top]="teamMate.card" [bottom]="currentPlayer.card"
        [king]="currentGame.king"></app-table>
      <app-player [player]="rightPlayer "></app-player>
    </div>
    <div class="u-flex-center">
      <app-current-player [player]="currentPlayer" [default]="currentGame.default" [king]="currentGame.king"
        [shouldPlay]="currentGame.turn == currentPlayer.position"
        [shouldSetKing]="currentGame.turn == currentPlayer.position && !currentGame.king"
        [canForceClose]="canForceClose" (onPlayCard)="playCard($event)" (onSetKing)="setKing($event)"
        (onForceClose)="forceClose()">
      </app-current-player>
    </div>
  </div>

  <div *ngIf="positionSwitch">
    <div class="finish u-flex-center">
      <span class="finish__container u-center-text" *ngIf="positionSwitch.to != currentPlayer.position">
        <h3>Cambio sedia richiesto - In attesa di accettazione</h3>
        <h4>{{positionSwitch.from_name}} con {{positionSwitch.to_name}}</h4>
      </span>
      <span class="finish__container u-center-text" *ngIf="positionSwitch.to == currentPlayer.position">
        <h3>Accetti il cambio sedia con {{positionSwitch.from_name}}?</h3>
        <button mat-raised-button color="primary" (click)="confirmSwitch(positionSwitch.from)">Accetta</button>
        <button mat-raised-button (click)="refuseSwitch()">Rifiuta</button>
      </span>
    </div>
  </div>

  <div *ngIf="!gameReady">
    <div class="finish u-flex-center">
      <span class="finish__container u-flex-center">
        <h3>Mancano ancora alcuni giocatori</h3>
      </span>
    </div>
  </div>
  <div *ngIf="!gameStarted && gameReady && !gameClosed">
    <div class="finish u-flex-center">
      <span class="finish__container u-center-text" *ngIf="starter.position == currentPlayer.position">
        <h3>Il tavolo è pronto a cominciare, dai le carte</h3>
        <button mat-raised-button color="primary" (click)="startHand(true)">Dai le carte</button>
      </span>
      <span class="finish__container" *ngIf="starter.position != currentPlayer.position">
        <h3>Il tavolo è pronto a cominciare - Attendi che <strong>{{starter.name}}</strong> dia le carte</h3>
      </span>
    </div>
  </div>

  <div *ngIf="gameClosed" style="margin-top: 75px;">
    <div *ngIf="!winnerTeam" class="finish u-flex-center">
      <span class="finish__container u-center-text" *ngIf="starter.position == currentPlayer.position">
        <h3>Mano finita - Dai le carte per cominciare una nuova mano</h3>
        <button mat-raised-button color="primary" (click)="startHand()">Dai le carte</button>
      </span>
      <span class="finish__container" *ngIf="starter.position != currentPlayer.position">
        <h3>Mano finita - Attendi che <strong>{{starter.name}}</strong> dia le carte</h3>
      </span>
    </div>
    <div class="takes">
      <h3>Prese Noi - <strong>{{pointsForTakes(currentTakes)}} punti</strong><span
          *ngIf="currentGame.last_take && (currentGame.last_take == currentTeam)"> +1 dell'ultima presa</span></h3>
      <span *ngFor="let take of currentTakes">
        <app-card [card]="take"></app-card>&nbsp;
      </span>
    </div>

    <div class="takes">
      <h3>Prese Loro - <strong>{{pointsForTakes(opponentTakes)}} punti</strong><span
          *ngIf="currentGame.last_take && (currentGame.last_take != currentTeam)"> +1 dell'ultima presa</span></h3>
      <span *ngFor="let take of opponentTakes">
        <app-card [card]="take"></app-card>&nbsp;
      </span>
    </div>

    <div *ngIf="winnerTeam" class="u-flex-center" style="flex-direction:column">
      <h2>Hai {{winnerTeam == currentTeam ? 'vinto' : 'perso'}}!!</h2>
      <img style="height: 250px;"
        [src]="winnerTeam == currentTeam ? 'assets/images/winner.gif' : 'assets/images/looser.gif'">
      <div class="u-flex-between">
        <span>
          <button mat-raised-button color="primary" (click)="restart()">Ricomincia una nuova partita</button>
          <button mat-raised-button (click)="proposeChangeSeat()">Cambia posto</button>
        </span>
        <button mat-raised-button (click)="leave()">Lascia il tavolo</button>
      </div>
    </div>
  </div>
</ng-container>
