<ng-container *ngIf="currentGame">
  <mat-card class="game__details">
    <mat-card-content>
      <div *ngIf="currentGame.king">
        Briscola <strong>{{currentGame.king | sign}}</strong> messa da <strong>{{starter?.name}}</strong>
      </div>
      <div *ngIf="currentGame.default">
        Gioco di <strong>{{currentGame.default | sign}}</strong>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="scores__details">
    <mat-card-content>
      <table>
        <tr>
          <th>Noi</th>
          <th>Loro</th>
        </tr>
        <tbody>
          <tr *ngFor="let score of currentScore; let i = index">
            <td>{{currentScore[i]}}</td>
            <td>{{opponentsScore[i]}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!winnerTeam">
    <div class="u-flex-center mb-20 mt-20">
      <app-player [player]="teamMate"></app-player>
    </div>
    <div class="u-flex-around">
      <app-player [player]="leftPlayer"></app-player>
      <app-table [left]="leftPlayer.card" [right]="rightPlayer.card" [top]="teamMate.card" [bottom]="currentPlayer.card"
        [king]="currentGame.king"></app-table>
      <app-player [player]="rightPlayer "></app-player>
    </div>
    <div class="u-flex-center">
      <app-current-player [player]="currentPlayer" [default]="currentGame.default" [king]="currentGame.king"
        [shouldPlay]="currentGame.turn == currentPlayer.position"
        [shouldSetKing]="currentGame.turn == currentPlayer.position && !currentGame.king"
        [canForceClose]="canForceClose" (onPlayCard)="playCard($event)" (onSetKing)="setKing($event)"
        (onForceClose)="forceClose()">
      </app-current-player>
    </div>
  </div>

  <div *ngIf="gameClosed" style="margin-top: 75px;">
    <div *ngIf="!winnerTeam" class="finish u-flex-center">
      <span class="finish__container u-center-text" *ngIf=" starter.position == currentPlayer.position">
        <h3>Mano finita - Dai le carte per cominciare una nuova mano</h3>
        <button mat-raised-button color="primary" (click)="startHand()">Dai le carte</button>
      </span>
      <span class="finish__container" *ngIf=" starter.position != currentPlayer.position">
        <h3>Mano finita - Attendi che <strong>{{starter.name}}</strong> dia le carte</h3>
      </span>
    </div>
    <div class="takes">
      <h3>Prese Noi - <strong>{{pointsForTakes(currentTakes)}} punti</strong><span
          *ngIf="currentGame.last_take && (currentGame.last_take == currentTeam)"> +1 dell'ultima presa</span></h3>
      <span *ngFor="let take of currentTakes">
        <app-card [card]="take"></app-card>&nbsp;
      </span>
    </div>

    <div class="takes">
      <h3>Prese Loro - <strong>{{pointsForTakes(opponentTakes)}} punti</strong><span
          *ngIf="currentGame.last_take && (currentGame.last_take != currentTeam)"> +1 dell'ultima presa</span></h3>
      <span *ngFor="let take of opponentTakes">
        <app-card [card]="take"></app-card>&nbsp;
      </span>
    </div>

    <div *ngIf="winnerTeam" class="u-flex-center" style="flex-direction:column">
      <h2>Hai {{winnerTeam == currentTeam ? 'vinto' : 'perso'}}!!</h2>
      <img style="height: 250px;"
        [src]="winnerTeam == currentTeam ? 'assets/images/winner.gif' : 'assets/images/looser.gif'">
      <button mat-raised-button color="primary" (click)="restart()">Ricomincia una nuova partita</button>
    </div>
  </div>
</ng-container>
