<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Password Change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-text class="u-flex ion-text-center ion-padding">
    Insert old and new password
  </ion-text>
  <form [formGroup]="form">
    <ion-list inset>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Old Password</ion-label>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-label *ngIf="form.controls['password'].errors && form.controls['password'].dirty" color="danger">Password
        cannot be empty</ion-label>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">New Password confirm</ion-label>
        <ion-input type="password" formControlName="confirmPass"></ion-input>
      </ion-item>
      <ion-label *ngIf="form.controls['confirmPass'].errors && form.controls['confirmPass'].dirty" color="danger">
        Password and Confirm are different</ion-label>
    </ion-list>
  </form>

  <div class="u-flex ion-text-center ion-padding">
    <ion-text *ngIf="error">
      {{error}}
    </ion-text>
  </div>

  <div class="u-flex ion-align-items-center ion-justify-content-center">
    <ion-button color="primary" *ngIf="!success" [disabled]="form.invalid" (click)="confirmChange()">Change Password
    </ion-button>
  </div>


</ion-content>