// COLORS
:root {
  --primary: #951c79;
  --grey: #767676;
  --red: rgb(136, 25, 0);
  --green: rgb(21, 128, 0);
  --yellow: rgb(147, 132, 17);
  --blue: rgb(0, 62, 128);
  --white: #fcfcfc;
}

// FONT SIZE
$font-default-fontsize: 1.6rem;
