<div class="table">
  <div class="u-flex-center row row--top">
    <app-card [card]="top" [isKing]="king && king == top?.type"></app-card>
  </div>
  <div class="u-flex-between row row--center">
    <app-card [card]="left" class="u-rotate" [isKing]="king && king == left?.type"></app-card>
    <app-card [card]="right" class="u-rotate" [isKing]="king && king == right?.type"></app-card>
  </div>
  <div class="u-flex-center row row--top">
    <app-card [card]="bottom" [isKing]="king && king == bottom?.type"></app-card>
  </div>
</div>
