<div class="king-selection" *ngIf="shouldSetKing">
  <h5>Scegli la briscola</h5>
  <button class="button button--green" (click)="setKing('B')">Bastoni</button>
  <button class="button button--red" (click)="setKing('C')">Coppe</button>
  <button class="button button--yellow" (click)="setKing('D')">Denari</button>
  <button class="button button--blue" (click)="setKing('S')">Spade</button>
</div>

<div class="hand u-flex-center">
  <div *ngFor="let card of player.hand; let i = index" class="card-container">
    <label>
      <input type="radio" *ngIf="canPlayCard(card)" [(ngModel)]="selectedCard" name="cards" [value]="card"
        (change)="onCardSelected(card)" />
      <span class="card" [ngClass]="{'card--disabled': !canPlayCard(card), 'card--king': king == card.type}"
        [style.background-image]="'url(assets/images/cards/' +card?.type+card?.value+ '.png)'">
      </span>
    </label>
  </div>
</div>

<div class="actions u-flex-center" *ngIf="!shouldSetKing && shouldPlay">
  <button mat-raised-button color="primary" [disabled]="!selectedCard" (click)="playCard()">Gioca</button>
  <button mat-raised-button color="primary" *ngIf="!default" [disabled]="!selectedCard"
    (click)="playCard('Striscio')">Striscio</button>
  <button mat-raised-button color="primary" *ngIf="!default" [disabled]="!selectedCard"
    (click)="playCard('Busso')">Busso</button>
  <button mat-raised-button color="primary" *ngIf="!default" [disabled]="!selectedCard"
    (click)="playCard('Volo')">Volo</button>
</div>
<div *ngIf="canForceClose" class="u-flex-center" style="margin: 25px;">
  <button mat-raised-button color="accent" (click)="forceClose()">Chiamati Fuori</button>
</div>

<app-player class="u-flex-center" style="margin-top: 20px;" [player]="player"></app-player>
