<ng-container *ngIf="!(currentGame$ | async)">
  <div class="u-flex-center u-full-height">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Inserisci il codice del gioco per entrare</mat-card-title>
      </mat-card-header>
      <mat-card-content class="u-flex-around">
        <mat-form-field>
          <input matInput [formControl]="idCtrl" type="text" placeholder="Gioco">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="idCtrl.invalid" (click)="selectGame()">Collegati</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="currentGame$ | async as currentGame">
  <div class="u-flex-center u-full-height">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Scegli la sedia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="currentGame.player_1_name" class="seat">
          Sedia 1 - {{currentGame.player_1_name}} <button mat-raised-button color="primary"
            (click)="rejoin(1)">Recupera</button>
        </div>
        <div *ngIf="currentGame.player_2_name" class="seat">
          Sedia 2 - {{currentGame.player_2_name}} <button mat-raised-button color="primary"
            (click)="rejoin(2)">Recupera</button>
        </div>
        <div *ngIf="currentGame.player_3_name" class="seat">
          Sedia 3 - {{currentGame.player_3_name}} <button mat-raised-button color="primary"
            (click)="rejoin(3)">Recupera</button>
        </div>
        <div *ngIf="currentGame.player_4_name" class="seat">
          Sedia 4 - {{currentGame.player_4_name}} <button mat-raised-button color="primary"
            (click)="rejoin(4)">Recupera</button>
        </div>
        <form [formGroup]="joinForm" novalidate *ngIf="availableSeats?.length">
          <mat-select formControlName="position" placeholder="Sedia">
            <mat-option *ngFor="let seatNumber of availableSeats" [value]="seatNumber">Sedia {{seatNumber}}</mat-option>
          </mat-select>
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Nome">
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="joinForm.invalid" (click)="join()">Siediti</button>
        </form>
        <button mat-button color="secondary" (click)="join(true)">Entra come Admin</button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
