@import '~@angular/material/theming';
@import './palette';

@include mat-core();

$professionisti-theme-primary: mat-palette($professionisti-primary);
$professionisti-theme-accent: mat-palette($professionisti-accent);
$professionisti-theme-warn: mat-palette($professionisti-warn);

$professionisti-theme: mat-light-theme($professionisti-theme-primary,
  $professionisti-theme-accent,
  $professionisti-theme-warn);

@include angular-material-theme($professionisti-theme);

$primary: mat-color($professionisti-theme-primary);
$accent: mat-color($professionisti-theme-accent);
$warn: mat-color($professionisti-theme-warn);
