@import '~@angular/material/theming';
@import './palette';

@include mat-core();

$marafone-theme-primary: mat-palette($md-primary);
$marafone-theme-accent: mat-palette($md-accent);
$marafone-theme-warn: mat-palette($md-warn);

$marafone-theme: mat-light-theme($marafone-theme-primary,
  $marafone-theme-accent,
  $marafone-theme-warn);

@include angular-material-theme($marafone-theme);

$primary: mat-color($marafone-theme-primary);
$accent: mat-color($marafone-theme-accent);
$warn: mat-color($marafone-theme-warn);
