<ng-container *ngIf="currentGame$ | async as currentGame">
  <div class="scores">
    <h5 class="scores__title">Punti</h5>
    <div class="scores__details">
      <div>Noi: {{currentScore}}</div>
      <div>Loro: {{opponentsScore}}</div>
    </div>
  </div>
  <div *ngIf="currentGame.king">
    Briscola {{currentGame.king | sign}}
  </div>
  <div *ngIf="currentGame.default">
    Gioco di {{currentGame.default | sign}}
  </div>
  <div class="u-flex-center">
    <app-player [player]="teamMate$ | async"></app-player>
  </div>
  <div class="u-flex-full">
    <app-player [player]="leftPlayer$ | async"></app-player>
    <app-table [left]="(leftPlayer$ | async).card" [right]="(rightPlayer$ | async).card"
      [top]="(teamMate$ | async).card" [bottom]="(currentPlayer$ | async).card"></app-table>
    <app-player [player]="rightPlayer$ | async"></app-player>
  </div>
  <div class="u-flex-center">
    <app-current-player [player]="currentPlayer$ | async" [default]="currentGame.default"
      [shouldPlay]="currentGame.turn == (currentPlayer$ |async).position"
      [shouldSetKing]="currentGame.turn == (currentPlayer$ |async).position && !currentGame.king"
      (onPlayCard)="playCard($event)" (onSetKing)="setKing($event)">
    </app-current-player>
  </div>

</ng-container>
